@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select an industrty</h2>


    <p>Select a job industry below to see current statistics</p>
   <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">

       @if(ViewBag.statsPage == "TrendingJobs")
        {
            <li>@Html.ActionLink("TrendingJobs", "Statistics")</li>
        } 
        @if (ViewBag.statsPage == "Location")
        {
            <li>@Html.ActionLink("Location", "Statistics")</li>
        } 
        @if (ViewBag.statsPage == "PayStatistics")
        {
            <li>@Html.ActionLink("PayStats", "Statistics")</li>
        } 
    </ul>
</div>    