@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "TrendingJobs";
}

<h2>TrendingJobs</h2>
    <!-- Single button -->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Other Statistics <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Pay Statstics</a></li>
            <li><a href="#">Job Density</a></li>
        </ul>
    </div> 
  

