
@{
    ViewBag.Title = "TrendingJobs";
}

<h2>
    TrendingJobs
    
    <!-- Single button -->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Other Statistics <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">PayStats</a></li>
            <li><a href="#">Job Density</a></li>
        </ul>
    </div>    
    </h2>

